/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f3feb8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    max-width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.box {
    padding: 20px;
    flex: 1;
    margin: 10px;
    border: 1px solid #ffb22c;
    border-radius: 8px;
    background-color: #cff4c4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bmi-calculator h1, .bmi-result h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1b3c73;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #ff407d;
}

.gender-options {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

input[type="number"], button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    color: #17153b;
}

button {
    background-color: #40679e;
    color: #ffffff;
    cursor: pointer;
    margin-top: 10px;
    border: none;
}

button:hover {
    background-color: #1b3c73;
}

.features {
    margin-top: 20px;
}

.features h3 {
    margin-bottom: 10px;
    color: #1b3c73;
}

.features ul {
    list-style-type: disc;
    margin-left: 20px;
}

.result-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f0f0f0;
}

.result-box h2 {
    text-align: center;
    color: #1b3c73;
    margin-bottom: 10px;
}

.result-buttons {
    text-align: center;
    margin-top: 20px;
}

.result-buttons button {
    background-color: #40679e;
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-right: 10px;
}

.result-buttons button:hover {
    background-color: #1b3c73;
}

.health-risks ul {
    list-style-type: disc;
    margin-left: 20px;
}

.download-app {
    margin-top: 20px;
    text-align: center;
    font-weight: bold; /* Teks tebal */
}

.download-app p {
    margin-bottom: 10px; /* Jarak antara teks dan gambar */
}

.download-app img {
    width: 150px;
    margin: 10px;
}
